<div class="card" style="width: 15rem;">
    <img class="card-img-top" [src]="eachProduct.imageUrl" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{eachProduct.title}}</h5>
      <p class="card-text">{{eachProduct.price | currency:'USD':true }}</p>
    </div>
    <div class="card-footer">
            <div class="btn-group btn-block" role="group" aria-label="Button group with nested dropdown">
                    <button type="button" class="btn btn-primary btn-block" (click)="delete()">-</button>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-primary btn-block" disabled>
                        Add to Card
                        </button>
                    </div>
                    <button type="button" class="btn btn-primary btn-block" (click)="add()">+</button>
            </div>
    </div>
</div>

