<p><a routerLink="/admin/products/new" class="btn btn-primary">New Product</a></p>
<p>
  <input class="form-control" type="text" [(ngModel)]="query" placeholder="Filter By Price" (keyup)="filter()">
</p>
<!-- ------------------- -->
<div style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
    <data-table id="persons-grid"
        headerTitle="Products"
        [items]="items"
        [itemCount]="itemCount"
        (reload)="reloadItems($event)"
        >
        <data-table-column
            [property]="'title'"
            [header]="'Title'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            [property]="'price'"
            [header]="'Price'"
            [sortable]="true">
            <ng-template #dataTableCell let-item="item">
                <span>{{item.price | currency:'USD':true }}</span>
            </ng-template>
        </data-table-column>
        <data-table-column
            [property]="'edit'"
            [header]="'Edit'">
            <ng-template #dataTableCell let-item="item">
                <a routerLink="/admin/products/{{item.title}}">Edit</a>
            </ng-template>
        </data-table-column>
    </data-table>
    </div>
    <!-- ------------------ -->

<!-- </div><table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of filteredArray; index as i">
      <td>{{p.title}}</td>
      <td>{{p.price}}</td>
      <td>
        <a routerLink="/admin/products/{{p.title}}">Edit</a>
      </td>
    </tr>
  </tbody>
</table> -->