/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/css/font-awesome.css';

$hola : black;

body{
    margin-top: 100px;
}

.navbar-brand{
    background-color: $hola;
}

.dropdown-toggle{
    cursor: pointer;
}